		
.header {	
	background-image: url('images/moon.png');
	background-repeat:no-repeat;
	background-attachment:fixed;   
	font-weight:normal;
}


.phase-text{
	float: left; 
	width: 0px;
	height: 0px;
	color: rgb(190, 31, 159); 
	text-align: center; 
	font-size: 9px;
	margin-top: -23px;
	margin-left: 5px;	
	position: absolute;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;				
    border-radius: 16px;
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
	
}

.markedDay1 a.ui-state-default {
    
	background-image: url('/images/01.png') !important;
	background-repeat:no-repeat;
	background-position: 58% 80%;     	
	padding: 0px 10px 22px 0px;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;				
    border-radius: 16px;
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
	
}


.markedDay2 a.ui-state-default {
    
   
	background-image: url('/images/02.png') !important;
	background-repeat:no-repeat;
	background-position: 58% 80%; 	
	padding: 0px 10px 22px 0px;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;				
    border-radius: 16px;
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
	
	
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	font-weight: bold;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;				
    border-radius: 16px;
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
	
}

td {        
    height: 65px;   	
}


